<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% unless current_user?(@user) %>
  <% if current_user.following?(@user) %>
    <%= render 'unfollow', user: @user %>
  <% else %>
    <%= render 'follow', user: @user %>
  <% end %>
<% end %>

<% @posts.each do |post| %>
  <%= render '/posts/post', post: post %>
<% end %>

