<p id="notice"><%= notice %></p>

<h1>My Feed</h1>
<% if current_user.followed_users.count == 0 && @posts.length > 0 %>
  You aren't following any users. Click <%= link_to 'here', users_path %> to view the user list.
<% end %>
<br>
<% if @posts.length > 0 %>
  <ul>
  <% @posts.each do |post| %>
    <li>
      <p><%= post.body %></p>
      <span>
        Posted by <%= link_to post.user.email, user_path(post.user) %> <%= time_ago_in_words(post.created_at) %> ago.
      </span>
      <% if current_user?(post.user) %>
        <%= link_to "Delete", post, method: :delete,
                                         title: post.body, data: {confirm: 'Are you sure you want to delete this post?'} %>
      <% else %>
        <% if current_user.favorite_posts.include?(post) %>
          <%= render '/favorites/unfavorite', post: post %>
        <% else %>
          <%= render '/favorites/favorite', post: post  %>
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
  Your feed is empty. Click <%= link_to 'here', users_path %> to follow some users.
<% end %>
